@font-face {
    font-family: autowide;
    src: url("../font/Audiowide-Regular.ttf");
}

@font-face {
    font-family: rubik;
    src: url("../font/Rubik-Regular.ttf");
}

@font-face {
    font-family: montserrat;
    src: url("../font/Montserrat-regular.ttf");
}

@font-face {
    font-family: oxanium;
    src: url("../font/Oxanium.ttf");
}

.top-game-image-section {
    position: relative;
    gap: 36px;
    overflow: auto;
    padding-left: 13px;
}

.sec4-inner {
    margin-top: 35px;
}

.sec4-inner h2 {
    font-family: autowide;
    margin-left: 10px;
}

.left-arrow-sec4 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #93D4FF;
}

.right-arrow-sec4 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #93D4FF;
}

.left-arrow-sec4:hover {
    background-image: linear-gradient(to right, #02C0E8, #1678E7);
    border: none;
}

.right-arrow-sec4:hover {
    background-image: linear-gradient(to right, #02C0E8, #1678E7);
    border: none;
}

.arrow-div-sec4 {
    gap: 20px;
}

.top-game-image-section::-webkit-scrollbar {
    display: none;
}

.blur-background {
    position: absolute;
    bottom: 3px;
    width: 276px;
    height: 64px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 20px 20px;
    display: none;
}

.image-inner button {
    height: 40px;
    width: 251px;
    font-family: autowide;
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(to right, #02C0E8, #1678E7);
    color: var(--font-color);
    margin-top: 13px;
    margin-left: 12px;
    display: none;
}

.img-outside-div {
    /* border: 1px solid white; */
    background-color: #001434;
    height: 315px;
    position: relative;
    width: 275px;
    border-radius: 20px;
    margin-top: 15px;
}

.top-image img {
    margin-top: -13px;
}

.top-game-images:hover .blur-background {
    display: block;
}

.top-game-images:hover button {
    display: block;
}

.top-game-images {
    margin-top: 15px;
    transition: all .5s ease;
}

.top-game-images:hover {
    transform: translate(-0.9rem, -1.9ex);
}

.text-div {
    font-family: rubik;
    position: absolute;
    font-size: var(--fontsize-18px);
    font-weight: 300;
    width: 275px;
    bottom: 8px;
    padding: 0px 10px 0px 10px;
}

.top-game-images:hover .text-div {
    display: none;
}

.sec4-inner {
    margin-bottom: 0px;
}

@media (max-width:1920px) {
    .arrow-div-sec4 {
        margin-right: 70px;
    }
}

@media (max-width:1800px) {
    .arrow-div-sec4 {
        display: none;
        margin-right: 0px;
    }
}

@media (max-width:1700px) {
    .arrow-div-sec4 {
        margin-right: 0px;
    }

    .left-arrow-sec4 {
        height: 45px;
        width: 45px;
    }

    .right-arrow-sec4 {
        height: 45px;
        width: 45px;
    }

    .left-arrow-sec4 img {
        width: 24px;
    }

    .right-arrow-sec4 img {
        width: 24px;
    }

}

@media (max-width:1600px) {
    .left-arrow-sec4 {
        height: 43px;
        width: 43px;

    }

    .right-arrow-sec4 {
        height: 43px;
        width: 43px;
    }

    .left-arrow-sec4 img {
        width: 22px;
    }

    .right-arrow-sec4 img {
        width: 22px;
    }
}

@media (max-width:1600px) {
    .top-image img {
        width: 240px;
        height: 280px;
    }

    .img-outside-div {
        background-color: #001434;
        height: 283px;
        position: relative;
        width: 240px;
        border-radius: 20px;
        margin-top: 15px;

    }

    .text-div {
        font-family: rubik;
        position: absolute;
        font-size: var(--fontsize-16px);
        font-weight: 300;
        width: 240px;
        bottom: 5px;
    }

    .blur-background {
        position: absolute;
        bottom: 2px;
        width: 242px;
        height: 64px;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0px 0px 10px 10px;
        margin-left: -0.6px;
        display: none;
    }

    .top-image2 img {
        height: 280px;
    }

    .image-inner button {
        height: 40px;
        width: 215px;
        font-family: autowide;
        border: none;
        border-radius: 8px;
        background-image: linear-gradient(to right, #02C0E8, #1678E7);
        color: var(--font-color);
        margin-top: 13px;
        margin-left: 12px;
        display: none;
    }

    .sec4-inner {
        margin-top: 33px;
    }

}

@media (max-width:1400px) {
    .top-image img {
        width: 220px;
        height: 260px;
    }

    .top-image2 img {
        height: 260px;
    }
    .top-game-image-section {
        gap: 32px;
    }
    .img-outside-div {
        background-color: #001434;
        height: 263px;
        position: relative;
        width: 240px;
        border-radius: 15px;
        margin-top: 15px;
    }

    .text-div {
        font-family: rubik;
        position: absolute;
        font-size: var(--fontsize-16px);
        font-weight: 300;
        width: 220px;
        bottom: 5px;
    }

    .name-div p {
        font-size: 14px;
    }

    .inner-img img {
        width: 18px;
    }

    .blur-background {
        position: absolute;
        bottom: 2px;
        width: 222px;
        height: 64px;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0px 0px 12px 12px;
        display: none;
    }

    .image-inner button {
        height: 40px;
        width: 200px;
        font-family: autowide;
        border: none;
        border-radius: 8px;
        background-image: linear-gradient(to right, #02C0E8, #1678E7);
        color: var(--font-color);
        margin-top: 13px;
        margin-left: 10px;
        display: none;
    }
}

@media (max-width:1200px) {

    .left-arrow-sec4 {
        height: 40px;
        width: 40px;

    }

    .right-arrow-sec4 {
        height: 40px;
        width: 40px;
    }

    .left-arrow-sec4 img {
        width: 20px;
    }

    .right-arrow-sec4 img {
        width: 20px;
    }

    .top-image img {
        width: 210px;
        height: 250px;
    }

    .top-image2 img {
        height: 250px;
    }

    .sec4-inner h2 {
        font-size: 23px;
    }

    .img-outside-div {
        background-color: #001434;
        height: 253px;
        position: relative;
        width: 210px;
        border-radius: 15px;
        margin-top: 15px;
    }

    .text-div {
        font-family: rubik;
        position: absolute;
        font-size: var(--fontsize-16px);
        font-weight: 300;
        width: 210px;
        bottom: 5px;
    }

    .name-div p {
        font-size: 14px;
    }

    .inner-img img {
        width: 18px;
    }

    .blur-background {
        position: absolute;
        bottom: 2px;
        width: 212px;
        height: 64px;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0px 0px 12px 12px;
        display: none;
    }

    .image-inner button {
        height: 40px;
        width: 188px;
        font-family: autowide;
        border: none;
        border-radius: 8px;
        background-image: linear-gradient(to right, #02C0E8, #1678E7);
        color: var(--font-color);
        margin-top: 13px;
        margin-left: 12px;
        display: none;
    }
}

@media (max-width:1000px) {
    .sec4-inner {
        margin-top: 22px;
    }
    .top-game-image-section {
        gap: 28px;
    }
    .sec4-inner h2 {
        font-size: 22px;
    }
}

@media (max-width:800px) {
    .sec4-inner {
        margin-top: 19px;
    }

    .sec4-inner h2 {
        font-size: 20px;
    }

    .top-image img {
        width: 190px;
        height: 230px;
    }

    .top-image2 img {
        height: 230px;
    }

    .img-outside-div {
        background-color: #001434;
        height: 233px;
        position: relative;
        width: 210px;
        border-radius: 15px;
        margin-top: 15px;
    }

    .text-div {
        font-family: rubik;
        position: absolute;
        font-size: var(--fontsize-16px);
        font-weight: 300;
        width: 195px;
        bottom: 5px;
    }

    .name-div p {
        font-size: 13px;
    }

    .inner-img img {
        width: 17px;
    }

    .blur-background {
        position: absolute;
        bottom: 2px;
        width: 192px;
        height: 64px;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0px 0px 10px 10px;
        display: none;
    }

    .image-inner button {
        height: 35px;
        width: 165px;
        font-family: autowide;
        border: none;
        border-radius: 8px;
        background-image: linear-gradient(to right, #02C0E8, #1678E7);
        color: var(--font-color);
        margin-top: 15px;
        margin-left: 13px;
        display: none;
    }
}

@media (max-width:900px) {
    .arrow-div-sec4 {
        gap: 17px;
    }

    .left-arrow-sec4 {
        height: 38px;
        width: 38px;
    }

    .right-arrow-sec4 {
        height: 38px;
        width: 38px;
    }

    .left-arrow-sec4 img {
        width: 18px;
    }

    .right-arrow-sec4 img {
        width: 18px;
    }
}
@media (max-width:800px) {
    .top-game-image-section{
        padding-left: 13px;
    }
}

@media (max-width:600px) {
    .sec4-inner {
        margin-top: 19px;
    }

    .sec4-inner h2 {
        font-size: 19px;
    }
}

@media (max-width:500px) {
    .top-game-image-section {
        gap: 22px;
        padding-left: 8px;
    }

    .top-image img {
        width: 175px;
        height: 215px;
    }

    .top-image2 img {
        height: 215px;
    }

    .img-outside-div {
        /* border: 1px solid white; */
        background-color: #001434;
        height: 216px;
        position: relative;
        width: 185px;
        border-radius: 20px;
        margin-top: 15px;
    }

    .text-div {
        font-family: rubik;
        position: absolute;
        font-size: var(--fontsize-16px);
        font-weight: 300;
        width: 180px;
        bottom: 5px;
    }

    .name-div p {
        font-size: 13px;
    }

    .inner-img img {
        width: 17px;
    }

    .blur-background {
        position: absolute;
        bottom: 2px;
        width: 176px;
        height: 60px;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0px 0px 10px 10px;
        display: none;
    }

    .image-inner button {
        height: 33px;
        width: 150px;
        font-family: autowide;
        border: none;
        border-radius: 8px;
        background-image: linear-gradient(to right, #02C0E8, #1678E7);
        color: var(--font-color);
        margin-top: 15px;
        margin-left: 13px;
        display: none;
        font-size: 13px;
    }

    .top-game-images:hover {
        transform: translate(-0.5rem, -1.9ex);
    }
}

@media (max-width:400px) {
    .top-game-image-section {
        gap: 17px;
        padding-left: 10px;
    }

    .sec4-inner {
        margin-top: 15px;
    }

    .sec4-inner h2 {
        font-size: 17px;
    }

    .top-image img {
        width: 165px;
        height: 205px;
    }

    .top-image2 img {
        height: 215px;
    }

    .img-outside-div {
        background-color: #001434;
        height: 206px;
        position: relative;
        width: 185px;
        border-radius: 20px;
        margin-top: 15px;
    }

    .text-div {
        font-family: rubik;
        position: absolute;
        font-size: var(--fontsize-16px);
        font-weight: 300;
        width: 170px;
        bottom: 5px;
    }

    .name-div p {
        font-size: 13px;
    }

    .inner-img img {
        width: 15px;
    }

    .blur-background {
        position: absolute;
        bottom: 2px;
        width: 166px;
        height: 55px;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0px 0px 10px 10px;
        display: none;
    }

    .image-inner button {
        height: 30px;
        width: 140px;
        font-family: autowide;
        border: none;
        border-radius: 6px;
        background-image: linear-gradient(to right, #02C0E8, #1678E7);
        color: var(--font-color);
        margin-top: 13px;
        margin-left: 13px;
        display: none;
        font-size: 13px;
    }

    .top-game-images:hover {
        transform: translate(-0.5rem, -1.9ex);
    }
}